.mobile-navagation {
    display: none;
    position: absolute;
    top: 35px;
    left: 15px;
}

.mobile-navagation__burger {
    width: 33px;
    height: 18px;
    flex-shrink: 0;
    cursor: pointer;
}

.mobile-navagation__toggler {
    display: none;
}

.mobile-navagation__menu {
    position: fixed;
    inset: 0;
    padding: 30px 20px 10px 20px;
    background-color: var(--co-white);
    translate: -100% 0;
    transition: translate .33s;
}

.mobile-navagation__toggler:checked ~ .mobile-navagation__menu{
        translate: 0 0;
}

.mobile-navagation__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;
}

.mobile-navagation__item {
}

.mobile-navagation__link {
    font-size: 30px;
}

.mobile-navagation__link:hover {
    color: var(--co-green);
}

.mobile-navagation__close {
    position: absolute;
    top: 40px;
    left: 20px;
}

.mobile-navagation__cross {
    width: 25px;
    height: 22px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-navagation {
        display: block;
    }
}